:root {
  /* Brand colors */
  --brand-primary: #339af0;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #63e6be;
  --brand-secondary--inverted: #3c1609;

  /* Main Navigation */
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
}
