/**
 * This file is part of the isnackable.me project.
 * Copyright © 2021-2022 isnackable.me. All rights reserved.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.main {
  flex: 1;
  margin: 0 1rem;
  padding: 1rem;
}

@media (min-width: 900px) {
  .main {
    margin-left: 4rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1194px) {
  .main {
    margin-left: 4rem;
    margin-right: 1rem;
  }
}
