.toc {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 7rem; /* How far down the page you want your ToC to live */
  z-index: 3;
  float: right;
  max-height: calc(100vh - 200px);
  overflow: auto;
  max-width: 17rem;
}

@media (max-width: 1600px) {
  .toc {
    display: none;
  }
}

.toc::-webkit-scrollbar,
.toc::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.toc::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #c1c2c5;
}
