/**
 * This file is part of the isnackable.me project.
 * Copyright © 2021-2022 isnackable.me. All rights reserved.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.toc {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 7rem; /* How far down the page you want your ToC to live */
  z-index: 3;
  float: right;
  max-height: calc(100vh - 200px);
  overflow: auto;
  max-width: 17rem;
}

@media (max-width: 1600px) {
  .toc {
    display: none;
  }
}
