a.link {
  transition: color 0.3s linear, border-bottom 0.3s linear,
    transform 0.3s ease-out;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0;
  margin: 0 0.67em;
  background: transparent;
  text-decoration: none;
  position: relative;
}

a.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.link:hover::before {
  transform: scaleX(1);
}

a.link:focus-visible {
  outline: 2px solid transparent;
  border-bottom: 2px solid currentColor;
}
