html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white {
  background-color: #fff !important;
}

.rounded-sm {
  border-radius: 0.125rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}

.object-cover {
  object-fit: cover;
  -o-object-fit: cover;
}

.half-image {
  margin: 0 !important;
  width: 50% !important;
  min-width: 50% !important;
}

@media (max-width: 640px) {
  .half-image {
    width: 100% !important;
  }
}

:root {
  --font-family-sans: "Source Sans Pro", sans-serif;

  --color-bg: #141414;
  --color-bg-rgb: 20, 20, 20;
  --color-ink: #ffffff;
  --color-ink-rgb: 255, 255, 255;
  --color-link: rgba(255, 255, 255, 1);
  --color-link-rgb: 255, 255, 255;
  --color-linkHover: rgba(255, 255, 255, 0.7);
  --color-linkHover-rgb: 255, 255, 255;
  --color-selection: rgba(120, 0, 220, 0.6);
  --color-selection-rgb: 120, 0, 220;
  --color-accent: #60a5fa;
  --color-accent-rgb: 0, 255, 170;
  --color-success: #60a5fa;
  --color-success-rgb: 0, 255, 170;
  --color-highlights-rgb: 255, 255, 255;
  --color-shadows-rgb: 0, 0, 0;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}
