.title {
  font-size: var(--font-title1-size);
}

.mainImage {
  height: 300px;
}

.mainContent {
  margin-top: 42px;
  color: #dddddd;
  line-height: 1.5;
}

.metaContent {
}

.publishedAt {
  color: #cccccc;
  font-size: 0.9em;
  font-weight: 600;
}

.categories {
}
