.title {
  font-size: var(--font-title1-size);
}

.mainContent {
  color: #dddddd;
  line-height: 1.5;
  white-space: initial;
  word-wrap: break-word;
}

.publishedAt {
  color: #cccccc;
  font-size: 0.9em;
  font-weight: 600;
}

/*
.categories {
}
*/

.mainContent img {
  cursor: pointer;
}
