.root {
}
.title {
  font-size: var(--font-title1-size);
}

.mainImage {
  height: 300px;
}

.grid {
}

.mainContent {
  margin-top: 42px;
}

.metaContent {
}

.publishedAt {
  color: #cccccc;
  font-size: 0.9em;
  font-weight: 600;
}

.categories {
}

.categoriesHeadline {
}
