.main {
  flex: 1;
  margin: 0 1rem;
}

@media (min-width: 900px) {
  .main {
    margin-left: 4rem;
    margin-right: 1rem;
    padding: 0 0.5em;
  }
}

@media (min-width: 1194px) {
  .main {
    margin-left: 4rem;
    margin-right: 1rem;
    padding: 0 1em;
  }
}
